@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1F2937;
    padding-bottom: 24px;
}

.wrapper{
    width: 80%;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #E5E7EB;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding: 16px;
    margin-bottom: 60px;
}

ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}

a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}

.content{
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.text{
    flex: 1;
    padding: 16px;
}

.text h1{
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 16px;
}

.text p{
    font-family: "Roberto", sans-serif;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.img_content{
    flex: 1;
    padding: 16px;
}

button{
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 8px 16px;
}

.info{
    flex: 1;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 32px;
}

.pix{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    gap: 48px;
    min-height: 200px;
}

.pix img{
    width: 150px;
    height: 150px;
    border-radius: 12%;
    border: 3px solid #3882F6;
}

.quote{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #E5E7EB;
    margin-top: 26px;
}

.inner{
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 48px 0;
}

.author{
    text-align: center;
}

.insp{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    font-style: italic;
}

.two{
    display: flex;
    justify-content: flex-end;
}